* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html, #app {min-height: 100%;}
body {padding: 2em;background-color: #eeeeee;color: #131111;}
button {font-size: 1em;}
ul {display: flex;flex-wrap: wrap;padding-left: 0;}
li {list-style: none;flex: 0 0 33.3333%;padding: 15px;}
img {padding: 5px;width: 300px;
